	<footer id="footer">
		<div class="wrapper">			
			<ul>
				<li><a href="#">о нас</a></li>     
				<li><a href="#">услуги</a></li>     
				<li><a href="#">портфолио</a></li>     
				<li><a href="#">контакты</a></li>
			</ul>
			<div class="footer-text"><p>awesome - создание сайтов, дизайнерские услуги, SMM</p></div>
			<div class="footer-socials">
				<a href="#" class="icon-facebook"></a>
				<a href="#" class="icon-twitter"></a>
				<a href="#" class="icon-youtube"></a>
				<a href="#" class="icon-pinterest"></a>
				<a href="#" class="icon-instagrem"></a>
			</div>
		</div>
	</footer>
</div>
</body>